

<div *ngIf= "!add && !editar && !eliminar">
  <div>
    <button mat-raised-button (click) = "add = true ">Adicionar</button>
    <button mat-raised-button [disabled]= "currentIndex === -1" (click)= "showConfirmationPrompt()" >Eliminar</button>
    <button mat-raised-button [disabled]= "currentIndex === -1" (click)= "editar = true" >Editar</button>
  </div>
  <mat-card>
    <mat-card-content>
  <table>
  <thead>
    <th>Codigo</th>
    <th>Descripcion</th>
    <th>Um</th>
    <th>Precio</th>
    <th><input type="checkbox" disabled/></th>
  </thead>

  <tbody *ngFor= "let list of lists;let i = index">
    <td>{{list.codigo}}</td>
    <td>{{list.description}}</td>
    <td>{{list.um}}</td>
    <td>{{list.precio}}</td>
    <td><input [class.active]="i == currentIndex"  (click) = "setActiveMatGast(list,i)" type="checkbox" [disabled] = /></td>
  </tbody>
  <br/>
</table>
</mat-card-content>
</mat-card>

</div>
<div *ngIf = "add">
  <app-add-mg></app-add-mg>
</div>
<div *ngIf= "editar">
  wiiiii editar
  <button (click)= "redirectL()">Back</button>
</div>

<div *ngIf= "eliminar">
  wiiiii eliminar
  <button (click)= "redirectL()">Back</button>
</div>

<div *ngIf="lists.length === 0 && message.length === 0">
  <p>No tiene ningun producto</p>
</div>

<div *ngIf= "message.length !== 0 && lists.length === 0">
  <p>{{message}}</p>
</div>
<button (click)= "showAlertS()">alert</button>