.nav{
  display:inline-flex;
  position:absolute;
  left: 10px;
  text-align: left;
  float: left;
}
.aside{
  display:inline-flex;
  position:absolute;
  text-align: right;
  right: 10px;
  float: right;
}
.section{
  display:inline-block;
  position:absolute;
  text-align: center;
  top: 100px;
  right: 50%;
  left: 30%;
  bottom: 100px;
}

.footer{
color: lawngreen;
display:inline-flex;
  position:absolute;
  text-align: center;
  bottom: 50px;
  float:none;

}

