<div class="example-container">
  <form [formGroup] = "profileForm"  (ngSubmit)="onSubmit()">
    
    <mat-form-field hintLabel="Max 10 characters" appearance="standard" >
      <input matInput  type="text" maxlength="10" placeholder="Codigo" id="codigo" formControlName= "codigo" required />
      <mat-hint align="end">{{profileForm.controls['codigo'].value?.length || 0}}/10</mat-hint>
      <mat-error *ngIf="profileForm.controls['codigo'].invalid">{{getErrorMessageC()}}</mat-error>
    </mat-form-field>
 
  <mat-form-field appearance= "standard">
  <input matInput type="text" placeholder="Descripcion" formControlName=  "description" required/>
  <mat-error *ngIf= "profileForm.controls['description'].invalid">{{getErrorMessageD()}}</mat-error>
</mat-form-field>

<mat-form-field appearance= "standard">
  <mat-label>Selecionar UM</mat-label>
  <mat-select  formControlName= "um" required>
    <mat-option value="kg">kg</mat-option>
    <mat-option value="lts">lts</mat-option>
    <mat-option value="u">u</mat-option>
  </mat-select>
  <mat-error *ngIf= "profileForm.controls['um'].invalid">{{getErrorMessageUM()}}</mat-error>
</mat-form-field>

<mat-form-field appearance= "standard" >
  <input matInput type="number" placeholder="00.00" class="example-right-align"  formControlName= "pre" required/>
  <span matPrefix>cup&nbsp;</span>
  <mat-error *ngIf= "profileForm.controls['pre'].invalid">{{getErrorMessagePre()}}</mat-error>
</mat-form-field>

<br/>
<br/>

  <div>
<button mat-raised-button (click)= "redirectL()"  >Cancelar</button>
<button mat-raised-button color="primary" (click) = "onSubmit()"  [disabled]="!profileForm.valid">Aceptar</button>
</div>
</form>
</div>